body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vh; /* Adjust as needed */
    height: 80vh;
    margin: 2rem 8rem;
    border: black 1px solid;
}

.grid-item{
    box-sizing: border-box;
    background-color: #f9f9f9;
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.1s; /* Smooth transition effect */
}
